<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


  <title>DANBANK login</title>
  <link rel="icon" href="/smallLogo.png" type="image/x-icon">
</head>
<body>
<section>


  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-12 col-sm-7 col-md-6 m-auto">
        <div class="card border-0 shadow">
          <div class="card-body">
            <div align="center">
              <img src="/profile_image.png" class="rounded" alt=" " width="90%" height="70%">
            </div>
            <form th:action="@{/resetPasswordStepTwo}" method="POST">
<br>
<br>
                <div class="col-sm">
                    <label class="form-label">Please enter the code from the mail<span class="text-body-secondary" required></span></label>
                    <input type="text" class="form-control" name="code" placeholder="code" required autofocus="true">
                </div>
                <div th:if="${errorCode}" class="error-message">"The code don't match.</div>
                <br>
                <div class="col-sm">
                    <label class="form-label">Enter a new password<span class="text-body-secondary"></span></label>
                    <input type="password" class="form-control" name="password" placeholder="Password" required minlength="6" maxlength="32">
                </div>
                <br>
                <div class="col-sm">
                    <label class="form-label">Repeat the new password<span class="text-body-secondary"></span></label>
                    <input type="password" class="form-control" placeholder="Password" required name="copyPassword">
                </div>
                <div th:if="${errorPassword}" th:text="${errorPassword}" class="success-message"></div>
              <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Reset</button>
              </div>


            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>
